{{!< default}}

<article id="post__content">
  <h1 id="post__title">Hello!</h1>
  <p>Welcome to my personal blog about journey through my ideas.</p>
  <p>I'm web developer, skateboarder, thinker and life lover.</p>
  <p>Pick a blog post from left menu, read, comment, share & enjoy your stay!</p>
</article> <!-- end #post__content -->